openapi: 3.0.3
info:
  title: BigID Authentication Actionable Insights Clusters API
  description: Authenticate against a BigID deployment using either user credentials (username/password) or a long-lived user token. Exchange a user token for a short-lived system token (session token) used to authorize subsequent calls against the BigID REST API.
  version: '1.0'
  contact:
    name: BigID Support
    url: https://developer.bigid.com/
    email: support@bigid.com
  license:
    name: BigID Terms of Service
    url: https://bigid.com/terms/
servers:
- url: https://sandbox.bigid.tools/api/v1
  description: BigID developer sandbox.
- url: https://{deployment}.bigid.com/api/v1
  description: Customer-hosted BigID deployment.
  variables:
    deployment:
      default: tenant
      description: Tenant subdomain assigned by BigID.
tags:
- name: Clusters
  description: Cluster analysis operations.
paths:
  /clusters:
    get:
      tags:
      - Clusters
      operationId: listClusters
      summary: List Clusters
      description: Retrieve a list of clusters with optional filtering.
      security:
      - BearerAuth: []
      parameters:
      - name: filter
        in: query
        schema:
          type: string
      - name: limit
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: Clusters retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      clusters:
                        type: array
                        items:
                          $ref: '#/components/schemas/Cluster'
components:
  schemas:
    Cluster:
      type: object
      properties:
        clusterId:
          type: string
        clusterName:
          type: string
        type:
          type: string
        size:
          type: integer
        members:
          type: array
          items:
            type: string
        attribute:
          type: array
          items:
            type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
