openapi: 3.0.3
info:
  title: BigID Authentication Actionable Insights Scans API
  description: Authenticate against a BigID deployment using either user credentials (username/password) or a long-lived user token. Exchange a user token for a short-lived system token (session token) used to authorize subsequent calls against the BigID REST API.
  version: '1.0'
  contact:
    name: BigID Support
    url: https://developer.bigid.com/
    email: support@bigid.com
  license:
    name: BigID Terms of Service
    url: https://bigid.com/terms/
servers:
- url: https://sandbox.bigid.tools/api/v1
  description: BigID developer sandbox.
- url: https://{deployment}.bigid.com/api/v1
  description: Customer-hosted BigID deployment.
  variables:
    deployment:
      default: tenant
      description: Tenant subdomain assigned by BigID.
tags:
- name: Scans
  description: Execute and monitor scans.
paths:
  /scans:
    get:
      tags:
      - Scans
      operationId: listScans
      summary: List Scans
      description: Retrieve a list of scan executions.
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Scans retrieved.
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Scans
      operationId: startScan
      summary: Start A Scan
      description: Trigger a scan based on a scan profile.
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                scanProfileId:
                  type: string
      responses:
        '202':
          description: Scan started.
  /scans/parent-scans:
    get:
      tags:
      - Scans
      operationId: listParentScans
      summary: List Parent Scans
      description: Retrieve parent scans with customizable query parameters.
      security:
      - BearerAuth: []
      parameters:
      - name: sort
        in: query
        schema:
          type: string
      - name: limit
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: Parent scans retrieved.
          content:
            application/json:
              schema:
                type: object
  /scans/{scan_id}/status:
    get:
      tags:
      - Scans
      operationId: getScanStatus
      summary: Get Scan Status
      description: Check the current status of a specific scan to determine whether it is running or completed.
      security:
      - BearerAuth: []
      parameters:
      - name: scan_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Scan status retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  progress:
                    type: number
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
