openapi: 3.0.3
info:
  title: BigID Authentication Actionable Insights Connector Templates API
  description: Authenticate against a BigID deployment using either user credentials (username/password) or a long-lived user token. Exchange a user token for a short-lived system token (session token) used to authorize subsequent calls against the BigID REST API.
  version: '1.0'
  contact:
    name: BigID Support
    url: https://developer.bigid.com/
    email: support@bigid.com
  license:
    name: BigID Terms of Service
    url: https://bigid.com/terms/
servers:
- url: https://sandbox.bigid.tools/api/v1
  description: BigID developer sandbox.
- url: https://{deployment}.bigid.com/api/v1
  description: Customer-hosted BigID deployment.
  variables:
    deployment:
      default: tenant
      description: Tenant subdomain assigned by BigID.
tags:
- name: Connector Templates
  description: Inspect available connector templates.
paths:
  /ds-templates:
    get:
      tags:
      - Connector Templates
      operationId: listConnectorTemplates
      summary: List Connector Templates
      description: List the connector templates available in this BigID deployment.
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Templates retrieved.
          content:
            application/json:
              schema:
                type: object
  /ds-templates/{type}:
    get:
      tags:
      - Connector Templates
      operationId: getConnectorTemplate
      summary: Get A Connector Template
      description: Retrieve a connector template for a specific data source type (e.g. rdb-mysql).
      security:
      - BearerAuth: []
      parameters:
      - name: type
        in: path
        required: true
        schema:
          type: string
        description: The connector template type, e.g. rdb-mysql.
      responses:
        '200':
          description: Template retrieved.
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
